@inherits LayoutComponentBase

<PageTitle>Zaliczenie</PageTitle>

<div class="container-fluid px-0 mx-0">
    <main class="d-flex flex-row h-100">
        <div class="sidebar h-100">
            <NavMenu/>
        </div>
        
        <article class="content px-4 h-100 w-100">
            @Body
        </article>
    </main>
</div>