@using Zaliczenie.Shared.NavMenuElements
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Zaliczenie</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="d-flex flex-column h-100 justify-content-between">
        <div>
            <NavElement Href="" Icon="oi oi-home"  Title="Home"></NavElement>
            <AdminNavElements></AdminNavElements>
            <NavMenuGroup Title="Users" Icon="oi oi-people">
                <NavElement Href="users" Icon="oi oi-list"  Title="List"></NavElement>
                <NavElement Href="users/add" Icon="oi oi-plus"  Title="Add"></NavElement>
            </NavMenuGroup>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>
        </div>
        <div class="p-3 border-top">
            <AuthorizeView>
                <Authorized>
                    
                    <div class="nav-item">
                        <NavLink class="nav-link" href="Identity/Account/Manage/Index" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Manage account
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="Identity/Account/Logout" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}