@using Zaliczenie.Shared.NavMenuElements
@using Zaliczenie.Utils
@using Zaliczenie.Data
@inject UserService UserService
@inject ApplicationDbContext Context
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@MyCompanyName</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="d-flex flex-column h-100 justify-content-between">
        <div>
            <NavElement Href="" Icon="oi oi-home" Title="Home"></NavElement>
            <AdminNavElements></AdminNavElements>
            <ManagerNavElements></ManagerNavElements>
            <AccountantNavElements></AccountantNavElements>
        </div>
        <div class="p-3 border-top">
            <AuthorizeView>
                <Authorized>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="Identity/Account/Manage/Index" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Account
                        </NavLink>
                    </div>
                    <form class="nav-item" asp-area="Identity" asp-page="Identity/Account/Logout" asp-route-returnUrl="/" action="/Identity/Account/Logout" method="post">
                        <button type="submit" class="nav-link btn btn-link">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item">

                        <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string MyCompanyName = "";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var currentUser = await UserService.GetCurrentUser();
        if (currentUser is not null && currentUser.CompanyId is not null)
        {
            var company = Context.Companies.First(e => e.CompanyId == currentUser.CompanyId);
            MyCompanyName = company.CompanyName;
        }
        
        await base.OnInitializedAsync();
    }

}